{% load static %}
<style>
ul li a
{
     transition: all;
     transition-duration: 1s;
     transition-timing-function: ease-out;
}
ul li a:hover{
    background-color: #198754;
    color:white !important;
}
</style>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold"  href="{% url 'recruiter-profile' %}"><img src="{% static 'bg_images/job_logo.png' %}" width="120"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'recruiter-profile' %}" >Profile</a>
          </li>
          <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'job-list' %}">Job List</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'add-jobs' %}">Add Job</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'show-apply-candidate' %}">Candidate Apply</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'user-logout' %}">Logout</a>
          </li>

          {% else %}
          <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'user-login' %}">User Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'recruiter-login' %}">Recruiter Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'admin-login' %}">Admin Login</a>
          </li>
          {% endif %}
        </ul>
        <a class="navbar-brand fw-bold text-success" href="#">Welcome! {{request.user.first_name}}</a>
    </div>
  </div>
</nav>
