{% extends 'base.html' %}
{% block title %} Admin | All Users {% endblock %}
{% block body %}
    {% include 'admin/admin_navbar.html' %}

    <div class="container">
        <div class="card mt-3 shadow">
            <div class="card-header">
                <h3 class="text-center fw-bold">View All Users</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-primary table-striped table-hover">
                    <thead>
                        <tr>
                          <th scope="col">Id</th>
                            <th scope="col">Username</th>

                          <th scope="col">email</th>
                          <th scope="col">Mobile</th>
                          <th scope="col">Image</th>
                          <th scope="col">Gender</th>
                          <th scope="col">Type</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                     <tbody>
                     {% for data in data %}
                        <tr>
                          <td>{{data.id}}</td>
                          <td>{{data.user.first_name}} {{data.user.last_name}}</td>
                          <td>{{data.user}}</td>
                          <td>{{data.mobile}}</td>
                          <td><img src="{{data.image.url}}" class="rounded" width="55px" height="70px"></td>
                          <td>{{data.gender}}</td>
                          <td>{{data.type}}</td>
                          <td><a href="{% url 'delete-user' data.user.id %}" class="btn btn-dark btn-sm">Delete</a> </td>
                        </tr>
                      {% endfor %}
                     </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}